@use "base";

body {
    font-family: base.$font-stack;
    background-color: base.$primary-color;
    color: base.$text-color;
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: base.$dark-color;
    color: base.$dark-text-color;
    }
}